.header{
    display: flex;
    justify-content: center;
    background-color: #515175;
  }
  
  .list{
    list-style: none;
    border: none;
    border-radius: 10px;
    height: 55px;
    background-color: #e2e2e2;
    padding-left: 0;
    box-shadow: 5px 5px 10px black;
  }
  
  .list_item{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin: auto 3px;
  }
  
  .header_button{
    font-size: 12px;
    font-weight: 700;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    top: 25px;
    left: -100px;
    margin: 0 5px;
    background-color: #211c2f;
    color: #fff5ff;
    box-shadow: 5px 5px 8px black;
  }
  
  .header_button:active{
    background-color: #f6f6e7;
    color: #211c2f;
  }
  
  .header_p{
    font-size: 25px;
    font-weight: 700;
    margin-right: 50px;
    color: #fff;
    text-shadow: 3px 3px 5px #000000;
  }
  
  